@tailwind base;
@tailwind components;
@tailwind utilities;



.demobtn:before {
  content: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/Group_590_bxcJwEnWIfl.svg?updatedAt=1634449508669)
}

.sec1_bg {
  background-image: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/Decore_RC3hCRbq_.png?updatedAt=1634451731475);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

@media (min-width: 960px) {
  .sec1_bg {
    background-size: unset;
  }
}

@media (min-width: 1170px) {
  .posimgs1 {
    transform: translateX(40rem);
  }
}

.listclass>li {
  padding-bottom: 12px;
}

.sec2_bg {
  background-image: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/sec2bg_fGV6ItuGK.svg?updatedAt=1634521800239);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: auto;
}

.destination-card {
  max-width: 315px;
}

.card-shadow {
  box-shadow: 0px 0px 125px -30px rgba(120,114,114,0.54);
}

.tripshadow {
  box-shadow: 0px -13px 71px -11px rgba(89,177,230,0.83);
}


.subs_bg {
  background-image: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/Group_595__1__iUdajQ-3Z.png?updatedAt=1635921343011);
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat
}

@media (max-width: 960px) {
  .subs_bg {
    background-size: auto;
  }
}

.pane {
  display: flex;
  flex-direction: column;
}

.modalbg {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.the-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2rem 5rem 2rem 5rem;
} 

.toogle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;
}