@tailwind base;
@tailwind components;
@tailwind utilities;



.demobtn:before {
  content: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/Group_590_bxcJwEnWIfl.svg?updatedAt=1634449508669)
}

.sec1_bg {
  background-image: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/Decore_RC3hCRbq_.png?updatedAt=1634451731475);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

@media (min-width: 960px) {
  .sec1_bg {
    background-size: unset;
  }
}

@media (min-width: 1170px) {
  .posimgs1 {
    transform: translateX(40rem);
  }
}
