@tailwind base;
@tailwind components;
@tailwind utilities;



.demobtn:before {
  content: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/Group_590_bxcJwEnWIfl.svg?updatedAt=1634449508669)
}

.sec1_bg {
  background-image: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/Decore_RC3hCRbq_.png?updatedAt=1634451731475);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

@media (min-width: 960px) {
  .sec1_bg {
    background-size: unset;
  }
}

@media (min-width: 1170px) {
  .posimgs1 {
    transform: translateX(40rem);
  }
}

.listclass>li {
  padding-bottom: 12px;
}

.sec2_bg {
  background-image: url(https://ik.imagekit.io/icvij1rszoy/travel_agency/sec2bg_fGV6ItuGK.svg?updatedAt=1634521800239);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: auto;
}

.destination-card {
  max-width: 315px;
}

.card-shadow {
  box-shadow: 0px 0px 125px -30px rgba(120,114,114,0.54);
}